{{ 'snippet-product-card.css' | asset_url | stylesheet_tag }}

<product-card class="product-card" data-handle="{{ product.handle }}">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {%- assign form_id = 'Form-' | append: section.id | append: product.id -%}

  <div class="media media--portrait" style="overflow: hidden;">
    <a href="{{ product.url }}" class="product-card__link">
      {%- render 'image',
        class: 'product-card__image media media--portrait',
        mobileSrc: featured_image,
        desktopSrc: featured_image
      -%}
    </a>
  </div>

  <div class="product__card-badges">
    {%- for tag in product.tags -%}
      {%- if tag contains 'badge__' -%}
        {%- assign badgeText = tag | split: '__' | last -%}
        <div class="product__card-badge">{{ badgeText }}</div>
      {%- endif -%}
    {%- endfor -%}
  </div>

  <div class="product-card__form">
    {%- form 'product', product -%}
      <input type="hidden" name="quantity" value="1">
      <select name="id" class="hidden">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            {% if variant.id == current_variant.id %}
              selected
            {% endif %}
          >
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      <div class="product-card__meta common-padding">
        <a class="left common-padding-product" href="{{ product.url }}">
          <div class="hover-underline-animation">{{ product.title }}</div>
        </a>
        <div class="flex product-card__prices left common-padding-product" style="justify-content: left;">
          <div class="product-card__price">{{ current_variant.price | money_without_trailing_zeros }}</div>

          {% if current_variant.compare_at_price > current_variant.price %}
            <div class="product-card__compareprice op6" style="margin-left: 1rem;">
              <s>{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
            </div>
          {% endif %}
        </div>
      </div>

      {% unless product.has_only_default_variant %}
        {%- for option in product.options_with_values -%}
          <div class="product-card__options common-padding">
            <label class="product-card__options--label">{{ option.name }}</label>

            <div class="product-card__options--swatches flex flex-wrap align-center">
              {%- for value in option.values -%}
                <div class="product-card__options--swatch swatch-{{ option.name | handleize }}">
                  <input
                    hidden
                    type="radio"
                    id="{{ section.id }}-{{ product.id }}-{{ value }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}
                      checked
                    {% endif %}
                  >

                  {% if option.name == 'Color' %}
                    <label for="{{ section.id }}-{{ product.id }}-{{ value }}">
                      <div
                        class="swatches--color"
                        style=" background-color: {{ value | handleize }}; background-image: url({{ value | handleize | append: '.png' | file_img_url }})"
                      ></div>
                    </label>
                  {% else %}
                    <label for="{{ section.id }}-{{ product.id }}-{{ value }}">
                      <div>{{ value }}</div>
                    </label>
                  {% endif %}
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endfor -%}
      {% endunless %}

      {% render 'icon-with-text', product: product %}

      <div class="product-card__button center">
        {% if current_variant.available %}
          <button type="submit" class="button button--primary button--full-width card_button">Add to cart</button>
        {% else %}
          <button type="button" class="button button--primary button--full-width card_button" disabled>Soldout</button>
        {% endif %}
      </div>
    {%- endform -%}
  </div>

  <script type="application/json">
    {{ product.variants | json }}
  </script>
</product-card>
