{{ 'ajaxcart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'ajaxcart.js' | asset_url }}" defer="defer"></script>

<div class="ajax-cart" id="cart_drawer">
  <div class="ajax-cart__overlay"></div>
  <ajax-cart class="ajax-cart__container">
    <ajaxcart-header>
      <div class="h2">
        Shopping cart {% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}
      </div>
      <button type="button" class="ajax-cart__close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </ajaxcart-header>

    {% if cart.item_count == 0 %}
      <ajaxcart-empty class="ajax-cart__empty">
        <div class="h3">Your cart looks little empty!</div>
      </ajaxcart-empty>
    {% else %}
      <ajaxcart-body>
        <div class="shipping-bar">
          {% liquid
            assign free_shipping = settings.free_shipping | times: 1
            assign cart_price = cart.total_price | divided_by: 100
            assign change = free_shipping | minus: cart_price
            assign perc_change = 100
            if change > 0
              assign perc_change = change | times: 100 | divided_by: free_shipping
              assign perc_change = 100 | minus: perc_change
            endif
          %}
          {% if perc_change == 100 %}
            <div class="shipping-bar__title font-bold text-md cart-drawer__black">Free shipping</div>
          {% else %}
            <div class="shipping-bar__message cart-drawer__black h6">
              <p>
                You are <strong>{{ change | times: 100 | money }}</strong> away from <strong>free shipping*</strong>
              </p>
            </div>
          {% endif %}
          <div class="shipping-bar__container">
            <div class="shipping-bar__filled" style="width: {{ perc_change | string | append: '%' }}">
              <div class="shipping__icon" style="left: {{ perc_change | string | append: '%' }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="31.678" height="35.847" viewBox="0 0 31.678 35.847">
                  <g id="Group_200290" data-name="Group 200290" transform="translate(-3.291 15.779) rotate(-45)">
                  <path id="Path_301827" data-name="Path 301827" d="M.344,6.568A14.727,14.727,0,0,0,.173,2.1C.1,1.441-.237.615.3.226,2.236-1.181,2.36,4.375,3.017,5.8,4.124,4.508,5.131,2.977,6.74,2.337A2.954,2.954,0,0,1,7.9,2.045c4.156.113-3.324,3.435-2.831,4.911a12.869,12.869,0,0,1,4.963-.6,2.408,2.408,0,0,1,1.135.372c2.063,1.343-4.55,1.982-5.887,3.349" transform="translate(10.75 0)" fill="#318200"></path>
                  <path id="Path_301828" data-name="Path 301828" d="M.8,8.065a12.059,12.059,0,0,1,.342-1.392,27.225,27.225,0,0,1,1.4-3.992c.641-1.178,3.03-4.265,8.537-1.671a49.368,49.368,0,0,1,7.286,3.915s4.678,3.025,1.748,7.883a30.183,30.183,0,0,1-6.086,6.888,18.436,18.436,0,0,1-5.567,3.351c-2.339.862-5.2,1.171-6.98-.689,0,0-2.811-1.23-.677-14.291" transform="translate(0 4.654)" fill="#A31207"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          {% if perc_change == 100 %}
            <div class="shipping-bar__message cart-drawer__black h6">
              <p><strong>Yay!!</strong> you unlocked <strong>free shipping</strong></p>
            </div>
          {% endif %}
        </div>
        <form action="{{ routes.cart_url }}" id="AjaxcartForm" class="cart__contents ajax-cart__form" method="post">
          <div class="ajax-cart__items">
            {% for item in cart.items %}
              <ajaxcart-item class="ajaxcart-item" data-item-key="{{ item.key }}">
                <div class="ajaxcart-item__media">
                  <a href="{{ item.url }}" class="ajaxcart-item__link">
                    <img
                      class="ajaxcart-item__image"
                      src="{{ item.image | image_url: width: 300 }}"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="150"
                      height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                    >
                  </a>
                </div>
                <div class="ajaxcart-item__info">
                  <a href="{{ item.url }}" class="ajaxcart-item__title">{{ item.product.title | escape }}</a>
                </div>
              </ajaxcart-item>
            {% endfor %}
          </div>
        </form>
      </ajaxcart-body>

      <ajaxcart-footer>
        <div class="ajax-cart__subtotal">
          <div class="h4 ajax-cart__subtotal--label">Subtotal</div>
          <div class="ajax-cart__subtotal--value">{{ cart.total_price | money_with_currency }}</div>
        </div>

        <button
          type="submit"
          id="AjaxcartSubmit"
          class="button button--full-width ajax-cart__submit"
          name="checkout"
          form="AjaxcartForm"
        >
          Checkout
        </button>

        <div class="ajax-cart__taxnote center">
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            Tax included. <a href="{{ shop.shipping_policy.url }}">Shipping</a> calculated at checkout.
          {%- elsif cart.taxes_included -%}
            Tax included and shipping calculated at checkout
          {%- elsif shop.shipping_policy.body != blank -%}
            Taxes and <a href="{{ shop.shipping_policy.url }}">shipping</a> calculated at checkout
          {%- else -%}
            Taxes and shipping calculated at checkout
          {%- endif -%}
        </div>
      </ajaxcart-footer>
    {% endif %}
  </ajax-cart>
</div>

{% schema %}
{
  "name": "Ajaxcart",
  "tag": "section",
  "settings": []
}
{% endschema %}
