{% if section.blocks.size > 0 %}
  <div class="page-width section-{{ section.id }}-padding collection-list" data-aos="fade-down-right">
    {% if section.settings.heading != blank %}
      <div class="h2 collection-list__heading">{{ section.settings.heading }}</div>
    {% endif %}
    <div
      class="collection-list__wrapper grid grid--1-col grid--3-col-desktop carousel--{{ section.id }}"
      {% if section.settings.mobile_slider %}
        data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": true, "prevNextButtons": false, "imagesLoaded": false, "watchCSS": true }'
      {% endif %}
    >
      {% for block in section.blocks %}
        <div class="grid__item collection-list__item">
          <div class="cl__image-item">
            {% render 'image',
              class: 'media cl__image media--portrait media--animated',
              mobileSrc: block.settings.collection.featured_image,
              desktopSrc: block.settings.collection.featured_image
            %}
          </div>
          {% if block.settings.button_text != blank %}
            <div class="cl__overlay-item">
              <a class="button button--primary" href="{{ block.settings.collection.url }}">{{ block.settings.button_text }}</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% style %}

  .collection-list__item:hover .media--animated img {
      transform: scale(1.075);
  }
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* disable Flickity for large devices */
    .carousel--{{ section.id }}:after {
      content: '';
    }
  
  @media screen and ( max-width: 990px ) {
    .carousel--{{ section.id }}:after {
      content: 'flickity';
      display: none; /* hide :after */
    }
  
    .carousel--{{ section.id }} {
       display: block; 
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Collection List",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },{
      "type": "checkbox",
      "id": "mobile_slider",
      "label": "Show Mobile Slider",
      "default": false
    },{
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
],
  "blocks": [
    {
      "name": "Collection List Item",
      "type": "collection-list-item",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List"
    }
  ]

}
{% endschema %}
