{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign upsell_handles = '' -%}
{%- for tag in product.tags -%}
  {%- if tag contains 'upsell__' -%}
    {%- assign u_handle = tag | split: '__' | last -%}
    {%- assign upsell_handles = upsell_handles | append: u_handle | append: ',' -%}
  {%- endif -%}
{%- endfor -%}
{%- assign upsell_handles = upsell_handles | split: ',' | uniq -%}

{%- if section.settings.enable_product_upselling and upsell_handles.size > 0 -%}
  <div class="section-{{ section.id }}-padding page-width">
    {%- if section.settings.title != blank -%}
      <h2 class="common-paddingb">
        {{ section.settings.title | escape }}
      </h2>
    {%- endif -%}

    <div class="grid grid--2-col grid--4-col-desktop">
      {%- for handle in upsell_handles -%}
        {%- assign product = all_products[handle] -%}
        <div class="grid__item">
          {%- render 'product-card', product: product -%}
        </div>
      {%- endfor -%}
    </div>

    {%- form 'product', product -%}
      <div>
        <div class="grid grid--2-col grid--4-col-desktop">
          {%- for handle in upsell_handles -%}
            {%- assign product = all_products[handle] -%}
            <div class="grid__item" id="checkbox--{{ product.id }}">
              {% render 'image', class: '', mobileSrc: product.featured_image, desktopSrc: product.featured_image %}
            </div>
            {% unless forloop.last %}
              <div>+</div>
            {% endunless %}
          {%- endfor -%}
        </div>

        {% assign temp = 0 %}
        <div class="upsell__checkboxes">
          {%- for handle in upsell_handles -%}
            {%- assign product = all_products[handle] -%}
            <div>
              <input
                type="checkbox"
                id="{{ product.id }}"
                value="checkbox--{{ product.id }}"
                checked
                onchange="checkfunc(value)"
              >
              <label for="{{ product.title | handleize }}--{{ forloop.index0 }}">
                {{ product.title }}
                {{ product.price | money -}}</label
              ><br>
              {% assign temp = temp | plus: product.price %}
            </div>
          {%- endfor -%}
          <div>
            <div>{{ temp | money }}</div>
            <button onclick class="button button--primary button--full-width card_button">Add to cart</button>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
{%- endif -%}

{% schema %}
 {
   "name": "Upsell Section",
"tag": "section",
   "settings": [{
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      },
  {
       "type": "paragraph",
       "content": "Add upsell__{ product-handle } tag to your products to show the upsell items."
     },
  {
       "type": "checkbox",
       "id": "enable_product_upselling",
       "label": "Show upsell products",
       "default": true
     },
  {
       "type": "text",
       "id": "title",
       "label": "Heading",
       "default": "Upsell Products"
     }
]
 }
{% endschema %}
