<div
  class="
    shop_the_look
    {%- if section.settings.page_width -%}
      page-width
    {%- endif -%}
  "
>
  <div class="relative">
    {%- if section.settings.image_url != blank -%}
      <div class="shop_the_look-image_item relative">
        {%- render 'image', class: '', mobileSrc: section.settings.image_url, desktopSrc: section.settings.image_url -%}
      </div>
    {%- endif -%}

    {%- if section.settings.button_url != blank -%}
      <button class="shop-the-look__hotspot-viewinlist" data-hotspot-viewinlist="">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 4.5a2.25 2.25 0 0 1 4.5 0V5h1.5v-.5a3.75 3.75 0 1 0-7.5 0V5h1.5v-.5ZM3.706 5a1.75 1.75 0 0 0-1.75 1.75v10.5c0 .966.783 1.75 1.75 1.75h12.588a1.75 1.75 0 0 0 1.75-1.75V6.75A1.75 1.75 0 0 0 16.294 5H3.706Zm-.25 1.75a.25.25 0 0 1 .25-.25h12.588a.25.25 0 0 1 .25.25v10.5a.25.25 0 0 1-.25.25H3.706a.25.25 0 0 1-.25-.25V6.75Z" fill="currentColor"></path>
        </svg>

        <span>Shop the look</span>
      </button>
    {%- endif -%}

    <div class="focal__point1">
      <div
        style="display: block; background: white; height: 2rem; width: 2rem; border-radius: 50%; border: 1px solid black;"
        onclick="fc1()"
      ></div>
      <div id="fc1" class="focal__product" style="background: white;">
        <div class="grid grid--2-col grid--2-col-desktop">
          <div class="grid__item">
            {% render 'image',
              class: '',
              mobileSrc: section.settings.product1.featured_image,
              desktopSrc: section.settings.product1.featured_image
            %}
          </div>
          <div class="grid__item">
            <div style="font-size: 1rem;">{{ section.settings.product1.title }}</div>
            <div style="font-size: 1rem;">{{ section.settings.product1.price | money }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="focal__point2">
      <div
        style="display: block; background: white; height: 2rem; width: 2rem; border-radius: 50%; border: 1px solid black;"
        onclick="fc2()"
      ></div>
      <div id="fc2" class="focal__product" style="background: white;">
        <div class="grid grid--2-col grid--2-col-desktop">
          <div class="grid__item">
            {% render 'image',
              class: '',
              mobileSrc: section.settings.product2.featured_image,
              desktopSrc: section.settings.product2.featured_image
            %}
          </div>
          <div class="grid__item">
            <div style="font-size: 1rem;">{{ section.settings.product2.title }}</div>
            <div style="font-size: 1rem;">{{ section.settings.product2.price | money }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .shop_the_look-image_item img {
    width: 100%;
  }
  .focal__product {
    display: none;
  }
  .focal__point1 {
    position: absolute;
    top: {{ section.settings.horizontal1 | append: '%' }};
    left: {{ section.settings.vertical1 | append: '%' }};
    height: 25rem;
    width: 15rem;
  }

  .focal__point2 {
    position: absolute;
    top: {{ section.settings.horizontal2 | append: '%' }};
    left: {{ section.settings.vertical2 | append: '%' }};
    height: 25rem;
    width: 15rem;
  }

  .shop-the-look__hotspot-viewinlist {
    position: absolute;
    bottom: 2.78%;
    left: 2.78%;
    display: flex;
    column-gap: 0.6875rem;
    align-items: center;
    justify-content: center;
    padding: 9px 14px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 50px;
    appearance: none;
    color: white;
  }

  .shop-the-look__hotspot-viewinlist:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    border-radius: inherit;
    opacity: .7;
  }

  .shop-the-look__hotspot-viewinlist svg {
    position: relative;
    display: block;
    width: auto;
    height: 1rem;
  }

  .shop-the-look__hotspot-viewinlist span {
    position: relative;
  }
{% endstyle %}

{% schema %}
{
  "name": "Shop The Look",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Page Width",
      "default": true
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "header",
      "content": "First Focial Point"
    },
    {
      "type": "product",
      "id": "product1",
      "label": "Product"
    }
    ,
    {
      "type": "range",
      "id": "horizontal1",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Horizontal Distance",
      "default": 20
    }
    ,{
      "type": "range",
      "id": "vertical1",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical Distance",
      "default": 20
    },{
      "type": "header",
      "content": "Second Focial Point"
    },
    {
      "type": "product",
      "id": "product2",
      "label": "Product"
    },
    {
      "type": "range",
      "id": "horizontal2",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Horizontal Distance",
      "default": 20
    }
    ,{
      "type": "range",
      "id": "vertical2",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical Distance",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Shop The Look"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
